*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    /* border: 1px solid red; */
    width: 100%;
    height: 70px;
    background-color: rgb(34, 171, 220);
    color: white;
    display: flex;
    justify-content: space-around;
}

.navbar>div{
    display: flex;
}

.navbar>div:nth-child(1){
    border: 1px solid black;
    width: 200px;
    height: 50px;
    align-items: center;
    margin-left: 50px;
    text-align: center;
    padding-left: 30px;
    border-radius: 26px;
    margin-top: 10px;
    background-color: rgb(241, 105, 105);
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}
.navbar>div:nth-child(2){
    /* border: 1px solid white; */
    width: 500px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.navbar>div:nth-child(3){
    border: 1px solid white;
    width: 100px;
    height: 50px;
    align-items: center;
    padding-left: 24px;
    color: black;
    border-radius: 26px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}